:root {
  --white: #fff;
  --lightgray: #e0dfdc;
  --white_gray: #ebebeb;
  --white_blue: #eef3f8;
  --black: #000;
  --gray: rgba(0, 0, 0, 0.6);
  --brown: #915907;
  --darkgray: #434343;
  --blue: #0a66cb;
  --lightblack: #171717;
  --body-bg: #f3f2ef;
  --inputborder: #a4a4a4;
  --skybule: #378fe9;
  --green: #5f9b41;
  --lightbrown: #c37d16;
  --lightred: #e16745;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell,
    Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Lucida Grande, Helvetica, Arial, sans-serif;
  background-color: var(--body-bg);
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

/* header begin */

.header {
  position: absolute;
  top: 0;
  width: 100vw;
  background-color: var(--white);
}

.header-container {
  display: grid;
  grid-template-columns: 40px .7fr 1fr;
  padding: 0 9%;
}

.header-container img {
  float: right;
  margin-top: 9px;
  width: 40px;
}

.search-bar {
  margin: 10px 7px;
  position: relative;
}


.search-bar > input {
  float: left;
  padding: 0 10px;
  border-radius: 5px;
  background-color: var(--white_blue);
  border: none;
  display: block;
  height: 38px;
  width: 55%;
}

.search-bar input:focus{
  width:80%;
  transition: 0.3s ease-in-out;
}

.navbar {
  float: right;
  display: flex;
}

.navbar > a {
  padding: 0 15px;
  /* margin: 0 5px ; */
  justify-content: center;
  align-items: center;
  max-width: 80px;
  text-decoration: none;
  display: grid;
  justify-content: center;
  color: var(--gray);
}

.navbar .profile {
  width: 26px;
  height: 26px;
  background-image: url("https://media.licdn.com/dms/image/D4D03AQG0giYhbKlxFQ/profile-displayphoto-shrink_100_100/0/1668344699336?e=1678320000&v=beta&t=z7KWfCbhZlgEdOrW1ET1shgVdo5-JfA4Skn4k9LP9xo");
  background-repeat: no-repeat;
  background-size: 27px;
  position: relative;
  top: 3px;
  right: 2px;
  border-radius: 50%;
}
.mercado-match {
  width: 100%;
  margin-top: 5px;
}

.navbar span {
  font-size: 13px;
}

.vertical-bar {
  border-left: 1px solid var(--white_gray);
  padding: 0 30px;
}

.tryPremiumForFree {
  font-size: 13px;
  color: var(--gray);
  display: inline;
  color: var(--brown);
}

.tryPremiumForFree :hover{
  color: var(--brown);
}

.tpff {
  text-decoration: underline;
  padding-top: 5px;
  text-align: center;
  width: 95px;
  height: 58px;
}


.navbar > .active {
  border-bottom: 3px solid var(--black);
  color: var(--black);
}

.navbar a:hover {
  color: var(--black);
}

.tryPremiumForFree {
  color: var(--brown);
}

/* header complete */

/* main start  */

.main {
  margin-top: 84px;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.main-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 5fr 12fr 7fr;
  gap: 1.5rem;
  margin: 0 8%;
}

.left-aside {
  width: 250px;
  height: 369px;
  background-color: var(--white);
  border-radius: 10px;
  border: 1px solid var(--lightgray);
}

.main-section {
  width: 600px;
  height: 130px;
  background-color: var(--white);
  border-radius: 10px;
  border: 1px solid var(--lightgray);
}

.right-aside {
  width: 338px;
  height: 360px;
  background-color: var(--white);
  border-radius: 10px;
  border: 1px solid var(--lightgray);
}

.profile-section {
  border-radius: 10px;
}

.profile-section a {
  text-decoration: none;
}

.user-bg img {
  border-radius: 10px 10px 0 0;
  background-size: cover;
}

.user-photo img {
  outline: 3px solid var(--white);
  border-radius: 50%;
  width: 75px;
  position: relative;
  bottom: 42px;
  left: 35%;
}

.username {
  text-decoration: none;
  font-size: 1.13rem;
  font-weight: 550;
  color: var(--darkgray);
  position: relative;
  right: 20px;
}

.profile-section a:hover {
  color: var(--darkgray);
  text-decoration: underline;
}

.username:hover {
  color: var(--darkgray);
}

.userbio {
  margin-top: 6px;
  font-size: 13.5px;
  text-align: center;
  color: var(--gray);
  padding-bottom: 18px;
  border-bottom: 1px solid var(--lightgray);
}

.connections-container {
  padding: 14px 0;
  border-bottom: 1px solid var(--lightgray);
}

.connections-container a {
  font-size: 13px;
  text-decoration: none;
}

.connections {
  display: flex;
  flex-direction: column;
}

.connections .mynetworks {
  font-weight: 500;
  padding-left: 12px;
  color: var(--gray);
}

.gyn {
  padding-left: 12px;
  padding-bottom: 4px;
  font-weight: 600;
  color: var(--darkgray);
}

.connections-svg {
  position: relative;
  top: 4px;
  padding-right: 12px;
  float: right;
  color: var(--black);
}

.connections:hover {
  background-color: var(--lightgray);
}

.left-premium {
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--lightgray);
}

.left-premium a {
  text-decoration: none;
  color: var(--darkgray);
}

.lp1 {
  color: var(--gray);
  font-size: 13.5px;
  padding-left: 10px;
}

.lp2 {
  text-decoration: underline;
  padding-left: 12px;
  font-weight: 600;
  color: var(--black);
  font-size: 0.85rem;
}

.lp2 svg {
  position: relative;
  top: 4px;
  padding-right: 5px;
}

.left-premium:hover {
  background-color: var(--lightgray);
}

.left-premium:hover .lp2 > span {
  color: var(--blue);
}

.myitems {
  height: auto;
  border-radius: 0 0 10px 10px;
  padding: 12px;
  font-size: 13px;
  font-weight: 550;
}

a {
  text-decoration: none;
  color: var(--darkgray);
}

.myitems span {
  color: var(--lightblack);
  position: relative;
  bottom: 7px;
  right: 5px;
  padding-left: 12px;
}

.myitems:hover {
  background-color: var(--lightgray);
}

.left-aside-2 {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  float: left;
  width: 250px;
  height: 165px;
  background-color: var(--white);
  border-radius: 10px;
  border: 1px solid var(--lightgray);
}

.left-aside-2 > a {
  text-decoration: none;
  color: var(--blue);
  font-weight: 550;
  font-size: 13.5px;
  padding: 14px 0 3px 13px;
}

.left-aside-2 > a:hover {
  text-decoration: underline;
}

.left-aside-2 svg {
  color: var(--gray);
}

.left-aside-2 svg:hover {
  border-radius: 50%;
  background-color: var(--lightgray);
}

.events_plus {
  display: grid;
  grid-template-columns: auto 30px;
}

.discover-more {
  border-top: 1px solid var(--lightgray);
  text-align: center;
}

.discover-more span {
  padding-bottom: 10px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: var(--darkgray);
}

.discover-more span:hover {
  color: var(--darkgray);
  text-decoration: none;
}

.discover-more:hover {
  background-color: var(--lightgray);
  text-decoration: none;
}

/* left aside end  */

/* middle section begin  */

.post-card-upper {
  display: flex;
}

.post-card .userphoto img {
  border-radius: 50%;
  margin: 15px 0 0 18px;
  width: 52px;
}

.post-card .search-bar input {
    padding-left: 20px;
    font-weight: 550;
  font-size: 15px;
  width: 475px;
  margin-left: 1px;
  height: 100%;
  margin-top: 5px;
  border-radius: 40px;
  border: 1px solid var(--inputborder);
  background-color: #fff;
}

.post-container {
  padding-top: 2px;
  padding-left: 10px;
  display: flex;
  justify-content: space-around;
}

.post-container button {
  border-radius: 6px;
  display: flex;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
}

.post-container span {
  float: left;
  font-size: 15px;
  padding-left: 15px;
  padding-top: 3.5px;
  font-weight: 550;
  color: var(--gray);
  text-align: center;
}

.photo svg {
  color: var(--skybule);
}

.video svg {
  color: var(--green);
}

.event svg {
  color: var(--lightbrown);
}

.write-article svg {
  color: var(--lightred);
}

.post-container button:hover {
  background-color: var(--lightgray);
}

/* middle section 1 end  */

/* middle section 2 begin */

.sortby {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
}

.hrule {
  color: var(--inputborder);
  margin: 25px 0 15px 0;
  width: 80%;
  border-bottom: 1px solid;
  cursor: pointer;
}

.h-sort {
  display: flex;
}

.sort {
  padding-left: 10px;
  padding-top: 15px;
  color: var(--inputborder);
  font-size: 13px;
}

.select-sort {
  background-color: transparent;
  border: none;
  width: 50px;
}

.feed-post {
  border: 1px solid var(--lightgray);
  border-radius: 10px;
  width: 610px;
  height: 500px;
  background-color: var(--white);
}

.news-heading {
  display: grid;
  grid-template-columns: auto 40px;
}

.news-heading span {
  color: var(--darkgray);
  font-weight: 550;
  font-size: 18px;
  padding: 15px 0 10px 15px;
}

.news-heading svg {
  padding: 15px 10px 0 0;
  color: var(--black);
}

.news-list{
    padding-left: 5%;
}

.news-list li{
    font-size: 1rem;
    font-weight: 550;

}

li .news-subtext{
    margin-left: 8%;
    padding: 0;
    display: inline-block;
    font-size: 0.8rem;
    color: var(--gray);
}

.news-list span{
    padding-bottom: 10px;
}

.news-button{
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin: 0 0 0 15px;
}
.news-button span{
    color: var(--gray);
    font-size: 1rem;
}


.news-button:hover{
    cursor: pointer;
    background-color: var(--lightgray);
}

.news-list li:hover{
    background-color: var(--lightgray);
}

.post{
    border: 1px solid var(--lightgray);
    margin:8px 0 ;
    border-radius: 10px;
    background-color: var(--white);
    width: 600px;
    height: auto;
}

.post >.post-user{
    display: grid;
    grid-template-columns: 11% auto 10%;
}
.post >.post-user > img{
    margin: 15px;
    width: 40px;
}

.post >.post-user >.post-username{
    font-size: 16px;
    margin-top: 15px;
}

.post svg{
    padding-top: 10px;
}

.post a{
    text-decoration: none;
    font-weight: 500;
    color: var(--black);
}

.post-user-bio{
    color: var(--darkgery);
    font-size: 14px;
}

.post-user > .material-symbols-outlined{
    margin: 20px;
}

.post-para{
    font-size: 15px;
    margin: 0 20px 10px 20px;
}

.post-para a{
    color: var(--blue);
}

.post-image > img {
    width: 600px;
    height: auto;
}

.post-image > video{
    width:600px;
    height: auto;
}

.info{
    background-color: var(--white_blue);
    padding-left: 20px;
    display: grid;
    grid-template-columns: auto 22%;
    padding-bottom: 10px;
}

.info p{
    margin: 5px 0;
    color: var(--black);
    font-size: .9rem;
    font-weight: 550;
}

.info span{
    font-size: .8rem;
    color: var(--darkgery);
}

.info button{
    font-weight: 550;
    font-size: .9rem;
    color: var(--blue);
    margin: 10px;
    height: 30px;
    width: 100px;
    border: 1.5px solid var(--blue);
    border-radius: 20px;
}

.social-details{
  padding: 10px 0  10px 15px;
  display: flex;
  justify-content: space-between;
}


.social-reactions{
  cursor: pointer;
}
.social-comments{
  cursor: pointer;
  padding-right: 20px;
  font-size: .8rem;
  color: var(--gray);
}

.social-comments span:hover{
  color: var(--blue);
  text-decoration: underline;
}

.appereciate{
  position: relative;
  right: 10px;
}

.clap{
  position: relative;
  right: 20px;
}

.social-num{
  position: relative;
  right: 22px;
  bottom: 3.2px;
}

.social-num:hover{
  color: var(--blue);
  text-decoration: underline;
}

.post hr{
  color: var(--lightgray);
  width: 560px;
  margin-left: 20px;
}

.post-social-actions > .like , .comment , .reposts, .send {
  cursor: pointer;
  padding: 5px 10px ;
  padding-top: 0px;
  border-radius: 10px;
}

.post-social-actions{
  font-weight: 550;
  color: var(--gray);
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 10px 10px;
}

.post-social-actions span{
  position: relative;
  bottom: 5px;
}

.post-social-actions > .like:hover , .comment:hover , .reposts:hover, .send:hover{
  background-color: var(--white_gray);
}

.post-social-actions > .like:active , .comment:active, .reposts:active, .send:active{
  color: var(--darkgray);
}

.see-new-posts{
  font-weight: 550;
  color: var(--blue);
  border-radius: 20px;
  border: 2px solid var(--blue);
  padding: 5px 10px;
  text-align: center;
  margin: 40px auto;
  width: 110px;
  height: auto;
  background-color: transparent;
}


.footer-item {
    position: sticky;
    top: 100px;
    margin-top: 4vh;
    list-style-type: none;
    display: flex;
    gap: 5px 0;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0 20px;
}


.footer-item  a{
    margin: 10px;
    padding: 10px 5px;
    text-decoration: none;
    color: var(--gray);
    font-size: .8rem;
}

.footer-item a:hover{
    text-decoration: underline;
    color: var(--blue);
}

.copyright{
    display: flex;
    justify-content: center;
}

.copyright > svg{
    position: relative;
    top: 15px;
    width: 70px;
}

.copyright > span{
    color: var(--black);
    margin-top: 13px;
    font-size: 12px;

}
